<%- include('includes/header') %>
		<div class="container">
			<div class="starter-template">
				<h1>Members Area</h1>
				<p class="load">Welcome to the members area</p>
			</div>
		</div>

<%- include('includes/footer') %>